CBFlib.tar.gz
Makefile_LINUX_old
Makefile_old
bin/adscimg2cbf
bin/cbf2adscimg
bin/cif2c
bin/cif2cbf
bin/convert_image
bin/convert_minicbf
bin/img2cif
bin/makecbf
bin/test_fcb_read_image
bin/test_xds_binary
bin/testcell
bin/testflat
bin/testflatpacked
bin/testreals
doc/cif_img.dic
doc/cif_img.html
doc/cif_img_1.5.4.html
doc/cif_img_1.5.dic
doc/cif_img_1.5.html
doc/cif_img_1_3_2.html
examples/test_fcb_read_image.f90
examples/test_xds_binary.f90
getopt-1.1.4_cbf/gnu/getopt.o
getopt-1.1.4_cbf_build
gpl.txt
include/getopt.h
index.html
lgpl.txt
lib/getopt.o
lib/libcbf.a
lib/libfcb.a
lib/libimg.a
src/fcb_exit_binary.f90
src/fcb_next_binary.f90
src/fcb_open_cifin.f90
src/fcb_packed.f90
src/fcb_read_bits.f90
src/fcb_read_image.f90
src/fcb_read_xds_i2.f90
symlinksdone
template_adscquantum315_3072x3072.cbf
template_adscquantum4_2304x2304.cbf
template_mar345_2300x2300.cbf
template_pilatus6m_2463x2527.cbf
